#contact iframe
{
    width: 100%;
}
.travel_mainDiv
{
    border: 1px solid lightgray;
     
}
.travel_mainDiv img
{
    width: 100%;
}
.travel_mainDiv h5
{
 margin: 20px;
}
.travel_mainDiv h5, .travel_mainDiv  p
{
    margin-left: 20px;
}